.App {
  text-align: center;
  background-color: #1030AD;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aboutTest {
  background-color: whitesmoke;
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  font-size: 1vw;
  text-align: center;
  padding: 1rem;
  width: 18%;
  height: 20rem;
  display: inline-block;
  line-height: .08;
  margin: 1rem 2rem;
}

.cartCard {
  display: inline-block;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.cImage {
  height: 9rem;
  width: 100%;
  object-fit: scale-down;
}

.rentBtn {
  position: fixed;
  left: 34%;
}


  button:hover {
    background: #FFCC00;
    text-decoration: none;
  }
  
  .searchBar {
    background-color: aliceblue;
  }
  
.addMovie {
  background-color: white;
}

